md-toolbar {
  padding: 10px;
  background-color: white;
  border-bottom: solid 5px #ffcb80;
}

md-icon {
  padding: 10px;
  font-size: 36px;
  height: 36px;
  width: 36px;
  color: #220133;
}
.mr-fill-half {
  flex: .5 1 auto;
}

.mr-fill-remaining {
  flex: 1 1 auto;
}

.flex-row-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; /* works with row or column */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  flex-grow: 1;
}

my-app {
  height: 100%;

  display: flex;
  flex-direction: column;
}

my-app > * {
  flex-shrink: 0;
}

msb-content {
  padding: 20px;
}
